{% extends 'layouts/main.html' %}
{% block title %}Casting Agency | Actors{% endblock %}
{% block content %}
<h3>Actors list</h3>
<ul class="items">
	{% for actor in actors %}
	<li class="col-sm-6">
			<i class="fas fa-star"></i>
			<div class="item">
				<h4>{{ actor.name }}</h4>
				<h5>{{ actor.age }}</h5>
				<h6>{{ actor.gender }}</h6>
			</div>
	</li>
		<button id = "delete_button" data-id = "{{actor.id}}">  Delete actor </button>
		<button><a href="{{ url_for('edit_actor', actor_id=actor.id) }}">Edit actor</a></button>
	{% endfor %}
</ul>

<script type="text/javascript">
	const delete_button = document.getElementById('delete_button');
	delete_button.onclick = function (e) {
	const actor_id = e.target.dataset['id'];
	fetch('/actor/' + actor_id, {
		method: "DELETE"
	})
	.then(function() {
		window.location.href = '/actors';
	})
	.catch(function(e) {
		console.log('error', e)
	})
}</script>
{% endblock %}
