{% extends 'layouts/main.html' %}
{% block title %}Casting Agency | Actors{% endblock %}
{% block content %}
<h3>Actors list</h3>
<ul class="items">
	{% for actor in actors %}
	<li class="col-sm-6">
		<a href="/actors/{{ actor.id }}">
			<i class="fas fa-star"></i>
			<div class="item">
				<h5>{{ actor.name }}</h5>
			</div>
		</a>
		<button id = "delete_button" data-id = "{{actor.id}}">  &cross; </button>

	</li>
	{% endfor %}
</ul>

<script type="text/javascript">
	const delete_button = document.getElementById('delete_button');
	delete_button.onclick = function (e) {
	const actor_id = e.target.dataset['id'];
	fetch('/actor/' + actor_id, {
		method: "DELETE"
	})
	.then(function() {
		window.location.href = '/actors';
	})
	.catch(function(e) {
		console.log('error', e)
	})
}</script>
{% endblock %}
