
{% extends 'layouts/main.html' %}
{% block title %}New Actors{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">List a new actors</h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="phone">Age</label>
          {{ form.age(class_ = 'form-control', placeholder='27', autofocus = true) }}
        </div>
      <div class="form-group">
        <label for="genres">Genger</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.gender(class_ = 'form-control', placeholder='Male', id=form.state, autofocus = true) }}
      </div>
      <input type="submit" value="Create Actors" class="btn btn-primary btn-lg btn-block">
      {{ form.csrf_token() }}
    </form>
  </div>
{% endblock %}
